<div class="row">
  <div class="span12">
    <h1 class="page-header">My Profile</h1>
    <p id="notice"><%= notice %></p>
    <p>
      <b>Name:</b>
      <%= @user.name %>
    </p>




    <h2>Pledges</h2>
    <ul>
      <% @user.donations.each do |donation| %>
        <p><%= "$#{donation.value}:  #{donation.uniname}: #{donation.schoolname}" %>
        <%= link_to 'Edit', edit_donation_path(donation) %>
        <%= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <% end %>


    </ul>
  </div>
</div>

<%= link_to_function "Back", "history.back()" %>
