<!-- <p id="notice"><%= notice %></p> -->

<p>
  <h3>Thank you for your pledge <%= User.find_by_id(@donation.user_id).name.split.first %>!</h3>
</p>
<h4>Pledge summary </h4>

<h5>University:  <%= link_to @donation.uniname, university_path(@university)  %></h5>
<% if @donation.school_id.present? %>
  <h5>School:  <%= link_to @donation.schoolname, school_path(@school)  %></h5>
<% end %>
<% if @donation.campaign_id.present? %>
  <h5>Campaign:  <%= link_to Campaign.find_by_id(@campaign).campaign_name, campaign_path(@campaign)%></h5>
<% end %>
<% if @donation.section_id.present? %>
  <h5>Section:  <%= link_to Section.find_by_id(@section).name, campaign_path(@campaign) %></h5>
<% end %>
<p>
  <b>Amount:</b>
  <b2> $ <%= @donation.value%></b2>
</p>

<p>
  <b>Pledge made on:</b>
  <b2><%= @donation.updated_at.strftime("%B #{@donation.updated_at.day.ordinalize}, %Y") %></b2>


</p>


<p>
  <b>Grad year:</b>
  <%= @donation.grad_year %>
</p>


<%= link_to 'My Donations', user_url(current_user.id) %>
<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back to University', university_path(@university) %>

